.contact-section {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1505764761634-1d77b57e1966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}

.contact-form {
  width: 790px;
  background-color: #ffffff;
  padding: 72px 55px 90px 55px;
  margin: 20px;
  border-radius: 10px;
}

.contact-form-title {
  font-family: 'Audiowide', cursive;
  margin-bottom: 25px;
  text-align: center;
}

.btn-container {
  text-align: center;
}

.btn-send {
  border-style: none;
  border-radius: 10px;
  height: 38px;
  color: #ffffff;
  font-size: 18px;
  width: 150px;
  background: linear-gradient(-135deg, #d5007d, #e53935);
  transition: all 0.4s;
}

.btn-send:hover {
  background: linear-gradient(45deg, #d5007d, #e53935);
}