.nab{
    padding: 0%;
    margin-bottom: 0%;
    background-color: rgb(206, 168, 205);
       }
   
.logo{
   width: 200px;
   height: 65x;
   padding: 0%;
   margin: 0%;
}

.letter{
padding-left: 20px;
padding-right: 30px;
}